.aImg {
  font-size: 16px;
  display: inline-block;
  margin-bottom: 8px;
  margin-right: 8px;
  cursor: pointer;
}

figure {
  width: inherit;
  height: inherit;
}

.result-area{
  padding-left: 2%;
  padding-right: 2%;
}

.result-area img {
  max-width: inherit;
  max-height: inherit;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}


.overlay{
height: 0%;
width: 100%;
background-color: rgb(0, 0, 0);
background-color: rgba(0, 0, 0, 0.8);
z-index: 1;
left: 0;
top: 0;
position: fixed;
overflow-y: hidden;
transition: 0.4s;
}

.overlaycontent{
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
}

.overlaycontent img{
  max-width: 720px;
  max-height: 540px;
}

.overlaycontent a{
  background-color: inherit;
  font-size: 40px;
  transition: 0.3s;
  display: block;
  color: rgba(255,255,255,0.75);
  cursor: pointer;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 50px;
    font-size: 60px;
    color: rgba(255,255,255,0.75);
}
.overlay a:hover{
    color: rgba(255,255,255,1);
}

.wordCloud{
  float: right;
  max-width: 20%;
  max-height: 20%;
}

.wordCloud svg{
  float: right;
  width: 80%;
  height: 80%;
}

.overlaycontent svg{
  top: -10%;
  width: 40%;
  height: 60%;
}
