.aImg {
  font-size: 16px;
  display: inline-block;
  margin-bottom: 8px;
  width: calc(50% - 4px);
  margin-right: 8px;
  height: 200px;
  cursor: pointer;
}

figure {
  width: inherit;
  height: inherit;
}

.result-area img {
  max-width: inherit;
  max-height: inherit;
}

.result-area a:nth-of-type(2n) {
  margin-right: 0;
}

@media screen and (min-width: 50em) {
  .result-area a {
    width: calc(25% - 6px);
  }

  .result-area a:nth-of-type(2n) {
    margin-right: 8px;
  }

  .result-area a:nth-of-type(4n) {
    margin-right: 0;
  }
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}


.imgoverlay{
height: 0%;
width: 100%;
background-color: rgb(0, 0, 0);
background-color: rgba(0, 0, 0, 0.8);
z-index: 1;
left: 0;
top: 0;
position: fixed;
overflow-y: hidden;
transition: 0.4s;
}

.overlaycontent{
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
}

.overlaycontent img{
  max-width: 720px;
  max-height: 540px;
}

.overlaycontent a{
  background-color: inherit;
  font-size: 40px;
  transition: 0.3s;
  display: block;
  color: rgba(255,255,255,0.75);
  cursor: pointer;
}

.imgoverlay .closebtn {
    position: absolute;
    top: 20px;
    right: 50px;
    font-size: 60px;
    color: rgba(255,255,255,0.75);
}
.imgoverlay a:hover{
    color: rgba(255,255,255,1);
}
