.aImg {
  font-size: 16px;
  display: inline-block;
  margin-bottom: 8px;
  margin-right: 8px;
  cursor: pointer;
}

figure {
  width: inherit;
  height: inherit;
}

.result-area{
  __padding-left: 2%;
  __padding-right: 2%;
  margin-bottom: 5%;
  background-color: #9B9B9B;
  text-align: center;
}

.result-area img {
  max-width: inherit;
  max-height: inherit;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}


.overlay{
height: 0%;
width: 100%;
background-color: rgb(0, 0, 0);
background-color: rgba(0, 0, 0, 0.8);
z-index: 1;
left: 0;
top: 0;
position: fixed;
overflow-y: hidden;
transition: 0.4s;
}

.overlaycontent{
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
}

.overlaycontent img{
  max-width: 720px;
  max-height: 540px;
}

.overlaycontent a{
  background-color: inherit;
  font-size: 40px;
  transition: 0.3s;
  display: block;
  color: rgba(255,255,255,0.75);
  cursor: pointer;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 50px;
    font-size: 60px;
    color: rgba(255,255,255,0.75);
}
.overlay a:hover{
    color: rgba(255,255,255,1);
}

.wordCloud{
  float: right;
}

.wordCloud svg{
  float: right;
  width: 35%;
  height: 18%;
}

.overlaycontent svg{
  transition: 0.5s;
  top: -10%;
  width: auto;
  height: auto;
}

#alertbanner {
  height: 0%;
  text-align: center;
  background-color: #f7786b;
  color: #FFFFFF;
  padding: 0px;
  font-size: 18px;
  transition: 1.3s;

}

#alertbanner a{
  float: right;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: bold;
  font-size: 25px;
  line-height: 20px;
  position: relative;
  right: 0;
  top: 0;
}

.search-area{
  margin-left: 25%;
  text-align: center;
  width: 50%;
  height: auto;
  border: 2px;
  display: table;
  margin-bottom: 2%;
}

.search-area img{
  margin-top: 13px;
  margin-bottom: 50px;
  width: 80%;
}

.search-input, .search-button{
  height: 52px;
  border-radius: 6px;
  __box-shadow: 3px 3px 4px #9B9B9B;
}

.search-input{
  overflow: hidden;
  float: left;
  font-size: large;
  padding: 8px;
  width: 100%;
}

.search-button {
  position: absolute;
  background:url(../../logo/btn-primary.svg);
  background-repeat: no-repeat;
  border: 0;
  background-size: auto auto;
  width: 77px;
  overflow-x: hidden;
  margin-left: 7px;
}

.checkbox{
  position: absolute;
  float: left;
}

.langbox{
  float: right;
}

.checkbox, .langbox{
  margin-top: 10px;
}
